{% load static %}
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<title>YOUR CART ITEMS</title>
	-===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/themify/themify-icons.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/elegant-font/html-css/style.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/lightbox2/css/lightbox.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<body>
	<header class="header1">
		<!-- Header desktop -->
		<div class="container-menu-header">
			

			<div class="wrap_header bg-dark">
				<!-- Logo -->
				<a href="/">
					<h3 style="font-family:Brush Script MT, Brush Script Std, cursive ;color:white; font-size: 43px;border-bottom: 1px solid rgb(255, 255, 255);border-top: 1px solid white; "
						class="logo"> Rent-it-GO </h3>
				</a>

				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li>
								<a href="/">Home</a>

							</li>



							<li>
								<a href="https://rentitgo.blogspot.com/">Blog</a>
							</li>

							<li>
								<a href="about">About</a>
							</li>

							<li>
								<a href="contact">Contact</a>
							</li>
							<li>
								<a href="tracker">Tracker</a>
							</li>
						</ul>
					</nav>
				</div>

				<!-- Header Icon -->
				<div class="header-icons">


					<span class="linedivide1"></span>

					<div class="header-wrapicon2">
						<a href="cart">
						<img src="{% static 'images/icons/online-shopping-cart.png' %}"
							class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span id="cart" class="header-icons-noti">0</span>
						</a>

						<!-- Header cart -->
						<div class="header-cart header-dropdown">
							<ul class="header-cart-wrapitem">
								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="{% static 'images/item-cart-01.jpg' %}" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											White Shirt With Pleat Detail Back
										</a>

										<span class="header-cart-item-info">
											1 x $19.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="{% static 'images/item-cart-02.jpg' %}" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Converse All Star Hi Black Canvas
										</a>

										<span class="header-cart-item-info">
											1 x $39.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="{% static 'images/item-cart-03.jpg' %}" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Nixon Porter Leather Watch In Tan
										</a>

										<span class="header-cart-item-info">
											1 x $17.00
										</span>
									</div>
								</li>
							</ul>

							<div class="header-cart-total">
								Total: $75.00
							</div>

							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										View Cart
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Check Out
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="margin-top: 100px;" class="container">
			<div class="col my-4">
				<h2>Step 1 - My Awesome Cart Express Checkout - Review Your Cart Items</h2>
				<div class="my-4">
					<ul class="list-group" id="items">
					</ul>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb mt-3">
						  <li class="breadcrumb-item active" aria-current="page">Your Cart Total Is <b>Rs. <span id="totalPrice"></span></b>. Enter your details below & place your order. Thanks for using Rent-it-GO</li>
						</ol>
					  </nav>
				</div>
			</div>


			<div class="col my-4">
				<h2>Step 2 - Enter Address & Other Details:</h2>
				<form method="post" action="/shop/checkout/">{% csrf_token %}
					<input type="hidden" name="itemsJson" id="itemsJson">
					<input type="hidden" name="amount" id="amount">
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="inputname">*Name</label>
							<input type="text" class="form-control" id="name" name="name" placeholder="Name" required="">
						</div>
						<div class="form-group col-md-6">
							<label for="inputEmail4">*Email</label>
							<input type="email" class="form-control" id="email" name="email" placeholder="Email" required="">
						</div>
					</div>
					
					<div class="form-group">
						<label for="inputAddress">*Address </label>
						<input type="text" class="form-control" id="address1" name="address1"
							placeholder="1234 Main Street" required="">
					</div>
					<div class="form-group">
						<label for="inputAddress2">Address line 2</label>
						<input type="text" class="form-control" id="address2" name="address2"
							placeholder="Apartment, studio, or floor" required="">
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="inputCity">*City</label>
							<input type="text" class="form-control" id="city" name="city" required="">
						</div>
						<div class="form-group col-md-4">
							<label for="inputState">*State</label>
							<input type="text" class="form-control" id="state" name="state" placeholder="Enter State" required="">
						</div>
						<div class="form-group col-md-2">
							<label for="inputZip">*Zip</label>
							<input type="number" class="form-control" id="zip_code" name="zip_code" required="">
						</div>
					</div>
					<div class="form-group">
						<label for="inputZip">*Phone Number</label>
						<input type="tel" class="form-control" id="phone" name="phone" required="">
					</div>
					<button type="submit" class="btn btn-primary">Place Order</button>
				</form>
			</div>
		</div>
		
		

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script type="text/javascript" src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
	<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/select2/select2.min.js' %}"></script>
	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
	<script>
		if (localStorage.getItem('cart') == null) {
			var cart = {};
		} else {
			cart = JSON.parse(localStorage.getItem('cart'));
		}
		console.log(cart);
		var sum = 0;
		var totalPrice = 0;
		if (localStorage.getItem('cart') == null) {
			//if object is empty
			mystr = `<p>Your cart is empty, please add some items to your cart before checking out!</p>`
			document.getElementById('items').innerHTML = mystr
		} else {
			for (item in cart) {
				let name = cart[item][1];
				let qty = cart[item][0];
				let itemPrice = cart[item][2];
				totalPrice = totalPrice + qty* itemPrice;
				sum = sum + qty;
				mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
							${name}
							<span class="badge badge-primary badge-pill">${qty}</span>
						</li>`;
				mystr = document.getElementById('items').innerHTML + mystr;
				document.getElementById('items').innerHTML = mystr;
			}

		}
		document.getElementById('cart').innerHTML = sum;
		document.getElementById('totalPrice').innerHTML = totalPrice;
		$('#itemsJson').val(JSON.stringify(cart));
		{% if thank %}
		alert('Thanks for ordering with us. Your order is is {{id}}. Use it to track your order using our order tracker');
		localStorage.clear();
		document.location = "/";
		{% endif %}
		$('#amount').val($('#totalPrice').html())
	</script>

	<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/slick/slick.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/slick-custom.js' %}"></script>
	<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
	<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/lightbox2/js/lightbox.min.js' %}"></script>
	<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'vendor/sweetalert/sweetalert.min.js' %}"></script>
	<script type="text/javascript">
		$('.block2-btn-addcart').each(function () {
			var nameProduct = 'product';
			$(this).on('click', function () {
				swal(nameProduct, "is added to cart !", "success");
			});
		});

		$('.block2-btn-addwishlist').each(function () {
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function () {
				swal(nameProduct, "is added to Cart !", "success");
			});
		});
	</script>
	<!--==========================FOR  CART ITEMS JAVASCRIPT=====================================================================-->
	<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

	<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

</body>

</html>